<app-loader [isLoading]="hgResolve.isResolving"></app-loader>
<ng-container #hgResolve="hgResolve" hgResolve appPostCommentsListResolver [postId]="$any(postId)"
  #resolver="appPostCommentsListResolver">
  <div id="filter-container">
    <div>
      <mat-form-field>
        <input matInput #filterInput placeholder="Title" id="filter" type="text" [value]="filter$ | async"
          placeholder="Enter filter...">
      </mat-form-field>
      <button [disabled]="!(filter$ | async)" mat-raised-button (click)="clearFilter()">Clear</button>
    </div>
    <div>
    </div>
  </div>
  <table mat-table [dataSource]="(resolver.data$ | async)?.comments!" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let comment"> {{comment.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let comment"> {{comment.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let comment"> {{comment.email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="(resolver.data$ | async)?.totalCount" [pageSize]="pageSize$ | async"
    [pageIndex]="((page$ | async) || 0) - 1" [pageSizeOptions]="[10,20,30]" (page)="onPageChange($event)">
  </mat-paginator>
</ng-container>