<mat-toolbar color="primary">
  <span>Query Params Store Demo</span>
  <span class="example-fill-remaining-space"></span>
  <nav>
    <a #postsLinkActive="routerLinkActive" routerLink="/post/list" class="mat-stroked-button"
      routerLinkActive="mat-accent">Posts</a>
    <ng-container *ngIf="postsLinkActive.isActive"> >
      <a routerLink="/post/list/add" queryParamsHandling="merge" class="mat-stroked-button"
        routerLinkActive="mat-accent">New Post</a>
    </ng-container>
    <a #usersLinkActive="routerLinkActive" routerLink="/user/list" class="mat-stroked-button"
      routerLinkActive="mat-accent">Users</a>
    <ng-container *ngIf="usersLinkActive.isActive">
      > <a *ngIf="usersLinkActive.isActive" routerLink="/user/list/add" queryParamsHandling="merge"
        class="mat-stroked-button" routerLinkActive="mat-accent">New User</a>
    </ng-container>
  </nav>
</mat-toolbar>